# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# GitHub Pages build artifacts
_site/

# Misc
*.swp
*.swo

# Ignore docs build cache
.docs_cache/
